/* Back Shad */

.butn-backShad {
	color:#fff;
background-image: radial-gradient(circle, #101010 45%, #D72225 50%);

}
.butn-backShad:hover,
.butn-backShad:focus,
.butn-backShad.focus,
.butn-backShad:active,
.butn-backShad.active,
.open > .dropdown-toggle.butn-backShad {
	color:#fff;
 background-position: right center;
 text-decoration:none;
 -webkit-transition: 2s;
  
}